<ion-header class="logo">
  <img src="assets/logo.png" alt="">
</ion-header>

<ion-content>
  <ion-button expand="block" color="medium" (click)="qrScan()">Tải ảnh từ máy</ion-button>

  <ion-button expand="block" color="Primary" name="close" *ngIf="scanActive">Stop</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        QR Code
      </ion-card-title>
      <ion-card-content>
        {{scanResult}}
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer class="footer">
  <img src="assets/logo.png" alt="">
  <p>
    TỔNG CÔNG TY CỔ PHẦN BIA - RƯỢU - NƯỚC GIẢI KHÁT HÀ NỘI
  </p>
</ion-footer>